@font-face {
  font-family: roboto_bold;
  src: url(typography/Roboto-Bold.ttf);
}

@font-face {
  font-family: roboto_Black;
  src: url(typography/Roboto-Black.ttf);
}

@font-face {
  font-family: roboto_regular;
  src: url(typography/Roboto-Regular.ttf);
}

body{
  font-family: roboto_regular;
  color: #9b9b9b;
}

button{
  outline: none;
  border: none;
}

html, body{
  height: 100%;
  margin: 0;
}
