.loginContainer {
  background-color: black;
  background:  url(../../img/bg.png) no-repeat;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  background-position: 0;
  height: 100%;
  min-height: 80%;
}

.logoContainer{
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.logoContainer > img{
  width: 20%;
}

.containerInputAccessCode{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75%;
}

.containerInputAccessCode > div{
  width: 30%;
  text-align: center;
}

.inputAccessCode{
  background-color: transparent;
  border-bottom: 1px solid #fff !important;
  width: 100%;
  font-size: 1rem;
  color: #fff !important;
  border: none;
  outline: none;
}

.inputAccessCode:focus{
  color: #fff;
}

.inputAccessCode::-webkit-input-placeholder{
  color: #fff;
}



.buttonLogin{
  background-color: #ff9A00;
  color: #fff;
  font-family: Roboto_Bold;
  margin-top: 50px !important;
  position: relative;
  font-size: 1.5rem !important;
  width: 150px;
  height: 65px;
}

.buttonLogin:active, .buttonLogin:hover{
  border-color: #a2a2a2;
  background-color: #ed9002 !important;
}

.buttonLogin::before, .buttonLogin::after{
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  transition: 0.4s ease-in-out;
}

.buttonLogin::before{
  z-index: -1;
}

.buttonLogin::after{
  z-index: -2;
  background-color: rgb(60,60,60);
}
