
<div class="infoContainer">

    <div class="logoContainer">
      <img src="img/whitelogolarge.png" alt="Innovation">
      <button type="button" class="buttonLogout button button-light" ui-sref="login">Cerrar Sesión</button>
    </div>

    <div class="containerBoxes">
      <div class="row">
        <div class="paddingLeft0 col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <div class="boxWhite">
            <p class="numberBig">{{resumenData.UsuariosRegistrados}}</p>
            <p class="text">Usuarios registrados</p>
          </div>
        </div>
        <div class="paddingRight0 col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <div class="boxWhite">
            <p class="numberBig">{{resumenData.Asistentes}}<span>/</span><span class="numberOfTotal">{{resumenData.UsuariosRegistrados}}</span></p>
            <p class="text">Asistentes</p>
          </div>
        </div>
      </div>

      <div class="row boxWhite">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <div>
            <p class="numberBig">{{resumenData.Comeran}}</p>
            <p class="text">Comerán en el evento</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <div>
            <p class="numberBig">{{resumenData.NoComeran}}</p>
            <p class="text">No comerán en el evento</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div>
            <p class="textDownload">Descargar Data</p>
          </div>
        </div>
      </div>
    </div>


</div>
